/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom styles */
html {
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --accent: rgb(246, 70, 77);
  --textdark: rgb(1, 18, 45);
  --textlight: rgb(115, 114, 121);
  --bg: rgb(223, 235, 254);
  --footerbg1: rgb(35, 52, 123);
  --footerbg2: rgb(18, 38, 105);
}
a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}
body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}
.full-width {
  width: 100%;
}
.padding {
  padding: 3rem 0;
}
.padding-4 {
  padding: 5rem 0;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.justify-start {
  justify-content: start;
}
.col {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.accent-text {
  color: var(--accent);
  display: inline;
}
.align-self-center {
  align-self: center;
}
.center {
  justify-content: center;
  align-content: center;
}
.justify-end {
  justify-content: end;
}
.wrap {
  flex-wrap: wrap;
}
/*header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.brand {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}
.nav-links li a {
  margin-left: 3rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.btn {
  padding: 0.7rem 2.5rem;
  background-color: var(--accent);
  border-radius: 5px;
  display: inline-block;
}
/*hero*/
.flex-30 {
  flex: 0 1 30%;
}
.flex-68 {
  flex: 0 1 68%;
}
h1 {
  font-size: 3.2rem;
  font-weight: 800;
  margin: 4rem 0;
  /* color: #fff; */
}
.hero p {
  font-size: 1.7rem;
  font-weight: 500;
  padding-right: 15rem;
  margin-bottom: 3rem;
}
.btn-2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.hero {
  color: #fff;
  position: relative;
  padding-top: 13rem;
}
.bg {
  background: linear-gradient(
      rgba(58, 63, 163, 0.692),
      rgba(58, 63, 163, 0.692)
    ),
    url(/assets/banner.png) 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  /* height: 102%; */
  /* width: 100%; */
}
/*about*/
.flex-39 {
  flex: 0 1 39%;
}

.flex-58 {
  flex: 0 1 58%;
}
h2 {
  font-size: 3.2rem;
  font-weight: 800;
  margin: 2rem 0;
}
.about p {
  color: var(--textlight);
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
h3 {
  font-size: 2.8rem;
  font-weight: 800;
  margin: 2rem 0;
  text-align: center;
  padding-bottom: 2rem;
}
.why,
.ideas {
  background: var(--bg);
  padding: 3rem 0;
}
h4 {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 0;
}
.why p {
  font-size: 1.2rem;
  padding-right: 1rem;
  color: var(--textlight);
}
.why-wrapper {
  outline: 2px dashed var(--accent);
  outline-offset: 20px;
  /* box-shadow: 0 0 0 2px var(--accent); */
  padding: 0rem;
}
.flex-26 {
  flex: 0 1 26%;
}
.index-no {
  position: relative;
  display: inline;
  /*bottom: 17.1rem;
  left: 2.8rem; */
  color: var(--accent) !important;
  font-weight: 800;
  font-size: 2rem !important;
  padding: 0 1rem;
  z-index: 1;
  background-color: var(--bg);
}

/*ideas*/
.idea-card {
  text-align: center;
  padding: 1.8rem;
  margin: 2.5rem;
}
.ideas h4 {
  font-size: 2.5rem;
}
.flex-20 {
  flex: 0 1 20%;
}
.accent-card {
  background-color: var(--accent);
  border-radius: 10px;
  color: #fff;
}
.idea-card p {
  font-size: 1.8rem;
  font-weight: 600;
}
.img-wrapper {
  padding: 1rem 5.5rem;
}

/*video*/
.video {
  padding: 5rem 0;
}
.video-wrapper {
  position: relative;
}
.video img {
  border-radius: 20px;
}
.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.fa-circle-play {
  font-size: 10rem;
  color: #fff;
  border-radius: 50%;
  background-color: var(--accent);
}
/*news*/

.news h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  padding-right: 1.7rem;
}
.news p {
  color: var(--textlight);
}
.btn-news {
  text-decoration: underline;
  font-size: 1.5rem;
  color: var(--textdark);
  display: inline-block;
  margin: 1rem 0;
  font-weight: 600;
}
.news img {
  object-fit: cover;
}
.accent-btn {
  color: var(--accent) !important;
}
.news h2 {
  text-align: center;
}
.news {
  background-color: var(--bg);
  padding: 3rem 0;
}
/*schedule*/
.circle {
  color: var(--accent);
  font-size: 2.5rem;
  justify-content: center;
  height: 10.5rem;
  width: 10.5rem;
  border-radius: 50%;
  border: 2px dashed var(--accent);
  font-weight: 800;
}
.flex-80 {
  flex: 0 1 75%;
}
.vl {
  height: 6rem;
  width: 0;
  border: 1px dashed var(--accent);
}
.flex-10 {
  flex: 0 1 10%;
}
.accent-circle {
  color: #fff;
  background-color: var(--accent);
}
.article {
  padding: 1rem;
}
.sch-img-container {
  flex: 0 1 25%;
}
.sch-img-container img {
  border-radius: 10px;
  min-width: 200px;
}
.sch-text-container {
  padding: 0 1rem;
  flex: 0 1 70%;
}
.sch-text-container p {
  color: var(--textlight);
  font-size: 1.5rem;
}
.sch-text-container h4 {
  padding: 0.5rem 0;
}
.schedule h2 {
  text-align: center;
}
.schedule {
  padding: 4rem 0;
}
.download {
  text-align: center;
  margin: 1rem auto;
}

/*footer*/

footer header {
  background-color: var(--footerbg1);
  color: #fff;
  padding: 4rem 0;
}
footer footer {
  background-color: var(--footerbg2);
  color: #b2b2b5;
  padding: 2rem 0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}
footer h6 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

footer a {
  font-size: 1.5rem;
  margin-right: 2rem;
  color: #b2b2b5;
  font-weight: 600;
}
.flex-35 {
  flex: 0 1 35%;
}
.fa-brands {
  font-size: 2rem;
}
#menu,
.fa-bars {
  display: none;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .nav-links {
    display: none;
    text-align: center;
    padding-top: 150px;
  }
  .nav-links li a {
    font-size: 2rem;
  }
  .nav-links li {
    margin-top: 5rem;
  }

  #menu:checked ~ .nav-links {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(85, 10, 134, 0.918);
    width: 100%;
    height: 100vh;
    z-index: 9;
  }
  .fa-bars {
    display: inline;
    font-size: 32px;
    color: #fff;
  }
  .bars {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 999;
  }
  .brand {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 999;
  }
  .hero-wrapper {
    flex-wrap: wrap;
  }
  .hero-img {
    display: block;
    order: 1;
  }
}
